In [1]:
import numpy as np 
import pandas as pd

In [6]:
df = pd.read_csv('cars.csv')

df.shape

(31, 5)

## One Hot Encoding using pandas

In [7]:
df['brand'].nunique()

11

In [8]:
df['fuel'].value_counts()

fuel
Diesel    14
Petrol    13
CNG        3
Name: count, dtype: int64

In [9]:
df['owner'].value_counts()

owner
First Owner             17
Second Owner             7
Third Owner              5
Fourth & Above Owner     1
Name: count, dtype: int64

In [10]:
pd.get_dummies(df , columns=['fuel' , 'owner'] )

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Third Owner
0,Maruti,145000.0,450000.0,False,True,False,True,False,False,False
1,Skoda,120000.0,370000.0,False,True,False,False,False,True,False
2,Honda,100000.0,158000.0,False,False,True,False,False,False,True
3,Hyundai,127000.0,225000.0,False,True,False,True,False,False,False
4,Maruti,120000.0,130000.0,False,False,True,True,False,False,False
5,Hyundai,80000.0,500000.0,False,False,True,True,False,False,False
6,Toyota,90000.0,620000.0,False,True,False,True,False,False,False
7,Ford,110000.0,200000.0,False,False,True,False,False,True,False
8,Renault,75000.0,300000.0,False,True,False,True,False,False,False
9,Tata,65000.0,280000.0,False,False,True,True,False,False,False
10,Mahindra,140000.0,350000.0,False,True,False,False,False,True,False
11,BMW,60000.0,1200000.0,False,False,True,True,False,False,False
12,Skoda,115000.0,290000.0,False,True,False,False,False,False,True
13,Honda,85000.0,450000.0,False,False,True,True,False,False,False
14,Maruti,70000.0,320000.0,True,False,False,True,False,False,False
15,Hyundai,95000.0,400000.0,False,True,False,False,False,True,False
16,Toyota,105000.0,550000.0,False,True,False,True,False,False,False
17,Ford,125000.0,180000.0,False,False,True,False,False,False,True
18,Renault,80000.0,310000.0,False,False,True,True,False,False,False
19,Tata,150000.0,200000.0,False,True,False,False,True,False,False
20,Mahindra,120000.0,420000.0,False,True,False,False,False,True,False
21,BMW,50000.0,1350000.0,False,False,True,True,False,False,False
22,Maruti,130000.0,250000.0,True,False,False,False,False,True,False
23,Skoda,90000.0,480000.0,False,True,False,True,False,False,False
24,Honda,140000.0,220000.0,False,False,True,False,False,False,True
25,Hyundai,110000.0,375000.0,False,False,True,False,False,True,False
26,Toyota,125000.0,600000.0,False,True,False,True,False,False,False
27,Ford,70000.0,410000.0,False,False,True,True,False,False,False
28,Renault,135000.0,270000.0,False,True,False,False,False,False,True
29,Tata,85000.0,295000.0,True,False,False,True,False,False,False
30,...,NaN,NaN,False,False,False,False,False,False,False

## K - 1 oneHot Encoding

In [12]:
pd.get_dummies(df , columns=['fuel' , 'owner'] , drop_first=True )

,brand,km_driven,selling_price,fuel_Diesel,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Third Owner
0,Maruti,145000.0,450000.0,True,False,False,False,False
1,Skoda,120000.0,370000.0,True,False,False,True,False
2,Honda,100000.0,158000.0,False,True,False,False,True
3,Hyundai,127000.0,225000.0,True,False,False,False,False
4,Maruti,120000.0,130000.0,False,True,False,False,False
5,Hyundai,80000.0,500000.0,False,True,False,False,False
6,Toyota,90000.0,620000.0,True,False,False,False,False
7,Ford,110000.0,200000.0,False,True,False,True,False
8,Renault,75000.0,300000.0,True,False,False,False,False
9,Tata,65000.0,280000.0,False,True,False,False,False
10,Mahindra,140000.0,350000.0,True,False,False,True,False
11,BMW,60000.0,1200000.0,False,True,False,False,False
12,Skoda,115000.0,290000.0,True,False,False,False,True
13,Honda,85000.0,450000.0,False,True,False,False,False
14,Maruti,70000.0,320000.0,False,False,False,False,False
15,Hyundai,95000.0,400000.0,True,False,False,True,False
16,Toyota,105000.0,550000.0,True,False,False,False,False
17,Ford,125000.0,180000.0,False,True,False,False,True
18,Renault,80000.0,310000.0,False,True,False,False,False
19,Tata,150000.0,200000.0,True,False,True,False,False
20,Mahindra,120000.0,420000.0,True,False,False,True,False
21,BMW,50000.0,1350000.0,False,True,False,False,False
22,Maruti,130000.0,250000.0,False,False,False,True,False
23,Skoda,90000.0,480000.0,True,False,False,False,False
24,Honda,140000.0,220000.0,False,True,False,False,True
25,Hyundai,110000.0,375000.0,False,True,False,True,False
26,Toyota,125000.0,600000.0,True,False,False,False,False
27,Ford,70000.0,410000.0,False,True,False,False,False
28,Renault,135000.0,270000.0,True,False,False,False,True
29,Tata,85000.0,295000.0,False,False,False,False,False
30,...,NaN,NaN,False,False,False,False,False

## 3. oneHotEncoding Using Sklearn

In [16]:
from sklearn.model_selection import train_test_split

# Features and target
X = df[['brand','fuel', 'owner']]
y = df[['selling_price']]

# Splitting the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [17]:
x_train.head()

     brand    fuel        owner
3     Ford  Diesel  Third Owner
0   Maruti  Petrol  First Owner
2  Hyundai  Petrol  First Owner

In [18]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
ohe = OneHotEncoder()

In [ ]:
ohe.fit_transform(x_train[[]])